h1 {
    color: blue;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#left-container {
    left: 0px;
}

#right-container {
    right: 0px
}

.container {
    background-color: #eee;
    width: 15%;
    top: 0px;
    position: absolute;
    height: 100%;
    padding: 10px
}

.plant-holder {
    position: relative;
    height: 13%;
    left: -10px
}

.plant {
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}

#terrarium {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jar-walls {
    height: 80%;
    width: 60%;
    background: #d1e1df;
    border-radius: 10%;
    position: absolute;
    bottom: 0.5%;
    left: 20%;
    opacity: 0.5;
    z-index: 1;
}
.jar-top {
    height: 5%;
    width: 50%;
    background: #d1e1df;
    position: absolute;
    bottom: 80.5%;
    left: 25%;
    opacity: 0.7;
    z-index: 1;
}

.jar-bottom {
    height: 1%;
    width: 50%;
    background: #d1e1df;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
}

.dirt {
    height: 5%;
    width: 58%;
    background: #3a241d;
    border-radius: 0 0 4rem 4rem;
    position: absolute;
    bottom: 1%;
    left: 21%;
    opacity: 0.7;
    z-index: -1;
}

.jar-light-short {
    height: 4%;
    width: 4%;
    background: #F5FAFA;
    border-radius: 1rem 1rem 1rem 1rem;
    position: absolute;
    top: 50%;
    left: 10%;
}

.jar-light-long {
    height: 16%;
    width: 4%;
    background: #F5FAFA;
    border-radius: 1rem 1rem 1rem 1rem;
    position: absolute;
    top: 60%;
    left: 10%;
}